@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Light.otf") format("otf"), url("../fonts/Montserrat-Regular.otf") format("otf"), url("../fonts/Montserrat-Medium.otf") format("otf"), url("../fonts/Montserrat-SemiBold.otf") format("otf"), url("../fonts/Montserrat-Bold.otf") format("otf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

* {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.6rem;
}

@layer base {
    :root {
        /*Colors*/
        --primary: 39, 39, 39;
        --secondary: 241, 241, 241;
        --tertiary: 255, 255, 255;

        --bg-dark: 39, 39, 39;
        --bg-light: 255, 255, 255;
        --bg-disabled: 187, 187, 187;

        --text-light: 255, 255, 255;
        --text-dark: 39, 39, 39;
        --text-disabled: 127, 127, 127;
        --text-error: 255, 48, 48;
        --text-success: 58, 201, 34;

        /* Screens */
        --screen-mobile: 640px;
        --screen-tablet: 1024px;
        --screen-desktop: 1440px;
        --screen-tv: 1920px;

        /* Font Size */
        --text-xs: 12px; 
        --text-sm: 14px;
        --text-md: 16px;
        --text-lg: 18px;
        --text-xl: 20px;

        /* Title Font Size */
        --title-md: 40px;
        --title-lg: 48px;
        --title-xl: 56px;

        /* Spacing */
        --spacing-none: 0px;
        --spacing-4xs: 8px;
        --spacing-2xs: 12px;
        --spacing-xs: 16px;
        --spacing-sm: 20px;
        --spacing-md: 24px;
        --spacing-lg: 32px;
        --spacing-xl: 40px;
        --spacing-2xl: 48px;
        --spacing-4xl: 56px;

        /* Border Radius */
        --border-radius-none: 0px;
        --border-radius-sm: 4px;
        --border-radius-md: 8px;
        --border-radius-lg: 16px;
        --border-radius-xl: 32px;
        --border-radius-2xl: 48px;
        --border-radius-3xl: 64px;
    }
}